<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{"BraiNet"|force_escape}}</title>
    <link rel="stylesheet" href="/static/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/library/chosen/chosen.min.css">
    <link rel="stylesheet" href="/static/library/qTip2/jquery.qtip.min.css">
    <link rel="stylesheet" href="/static/stylesheet/style-ui.css">
    <link rel="stylesheet" href="/static/stylesheet/style-canvas.css">
  </head>
  <body>
    <div class="head-section">
      <div class="navbar">
        <div class="navbar-inner navbar-top main-nav">
          <div class="navbar-content"><a href="#" class="brand">braiNet</a>
            <ul class="nav">
              <li><a href="https://github.com/tacitia/BraiNet/wiki/Quick-Start" target="_blank">How to</a>
              </li>
              <li><a href="/brainet">use braiNet</a>
              </li>
              <li><a href="https://github.com/tacitia/BraiNet" target="_blank">Source code</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/account/register" target="_blank">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section">
      <div class="divider"></div>
      <div id="control-container" class="center-content sub-section well">
        <div class="subsection-title">
          <h4>Control Panel</h4>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div id="dataset-selector" class="control-pane well sub-sub-section">
              <h5>Load dataset</h5>
              <div>
                <div class="single-line-div">
                  <select id="dataset-list" data-placeholder="Select Dataset" class="chzn-select"></select>
                </div>
                <div class="single-line-div">
                  <button id="load-button" class="btn btn-primary">Load</button>
                </div>
              </div>
            </div>
            <div id="region-selector" style="height:105px" class="control-pane well sub-sub-section">
              <h5>Locate a brain region </h5>
              <div>
                <select id="region-list" data-placeholder="Select Brain Region" class="chzn-select"></select>
              </div>
            </div>
          </div>
          <div class="span4">
            <div id="path-search" class="control-pane well sub-sub-section">
              <h5>Search for indirect path</h5>
              <div>
                <div class="single-line-div">
                  <label for="source-list">Source</label>
                  <select id="source-list" data-placeholder="Select a source region" class="chzn-select inline"></select>
                </div>
                <div class="single-line-div">
                  <label for="target-list" class="control-label">Target</label>
                  <select id="target-list" data-placeholder="Select a target region" class="chzn-select inline"></select>
                </div>
                <div class="single-line-div">
                  <label for="max-hop" class="control-label">Max number of intermediate connections</label>
                  <input id="max-hop" type="range" min="1" max="4" value="1" step="1"><span id="max-hop-value">1</span>
                </div>
                <div class="single-line-div">
                  <button id="search-button" class="btn"><i class="icon-search"></i>
                  </button>
                  <button id="clear-button" class="btn btn-danger"><i class="icon-remove"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="span4">
            <div id="legend" class="control-pane well sub-sub-section">
              <h5>Edge Color Legend</h5>
              <div id="legend-primary">
                <h6>Default (by directionality)</h6>
                <div>
                  <div style="background-color:#2ca02c;" class="legend-block multi-col"></div>
                  <div class="legend-label multi-col">
                    <p>Source region / Outgoing connecion</p>
                  </div>
                  <div class="clear"></div>
                  <div style="background-color:#d62728;" class="legend-block multi-col"></div>
                  <div class="legend-label multi-col">
                    <p>Target region / Incoming connecion</p>
                  </div>
                  <div class="clear"></div>
                  <div style="background-color:#062db8;" class="legend-block multi-col"></div>
                  <div class="legend-label multi-col">
                    <p>Bidirectional connection</p>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div id="legend-feature">
                <h6>Optional (by edge attributes)</h6>
                <div><span>Attribute</span>
                  <select id="attr-list" data-placeholder="Select an attribute" class="chzn-select inline"></select>
                </div>
                <svg id="attr-legend"></svg>
              </div>
            </div>
          </div>
          <div id="resetDiv" class="span1">
            <button id="reset" class="btn btn-danger">Reset</button>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div id="svg-container" class="center-content sub-section well">
        <h4>Visualizations</h4>
        <div class="row-fluid">
          <div class="svg-pane span6">
            <h5>Circular View</h5>
            <div id="circular-pane" class="card">
              <div class="svg-controller"><a id="configButton" href="#" class="btn right-align"><i class="icon-wrench"></i></a><a id="upButton" href="#" class="btn right-align"><i class="icon-arrow-up"></i></a><a id="downButton" href="#" class="btn right-align"><i class="icon-arrow-down"></i></a><a id="removeButton" href="#" class="btn right-align"><i class="icon-remove"></i></a><a id="anatomyButton" href="#" class="btn right-align"><i class="icon-map-marker"></i></a>
              </div>
              <svg class="canvas"></svg>
            </div>
          </div>
          <div class="svg-pane span6">
            <h5>Force-directed View</h5>
            <div id="force-pane" class="card">
              <div class="svg-controller"><span id="region-name"></span>
              </div>
              <svg class="canvas"></svg>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div id="conn-info">
              <h5>Connection Information</h5>
              <p id="src-name">Source: no connection selected.</p>
              <p id="tgt-name">Target: no connection selected.</p>
              <p id="no-note-msg">Notes: no connection selected.</p>
              <div id="conn-notes" class="removed">
                <div style="margin-right:10px;" class="multi-col">
                  <p>Notes</p>
                </div>
                <div class="multi-col"><textarea id="conn-note-input" rows="3" class="removed">Add a note...</textarea>
                  <p id="conn-note-display" style="width:220px">No notes found.</p>
                  <button id="conn-note-save" class="btn btn-success removed">Save</button>
                </div>
                <div class="multi-col"><i id="conn-note-edit" class="icon-edit"></i>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="span4">
            <h5>Anatomy View</h5>
            <div id="anatomy-pane" class="card">
              <div class="canvas">
                <div id="svg"></div>
                <div id="img"></div>
              </div>
              <div class="svg-controller">
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <button id="left-arrow" class="btn"><i class="icon-arrow-left"></i>
                    </button>
                    <button id="right-arrow" class="btn"><i class="icon-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span5">
            <h5>Projection Statistics</h5>
            <div id="link-pane" class="card"></div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row-fluid center-content sub-section well">
        <h4>Original records and publications</h4>
        <div id="conn-details" class="span12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#paper-list" data-toggle="tab">Publications</a>
            </li>
            <li><a href="#origin-list" data-toggle="tab">Original records</a>
            </li>
            <li><a href="#sub-con-list" data-toggle="tab">Sub-connections</a>
            </li>
          </ul>
          <div style="padding:20px" class="tab-content">
            <div id="paper-list" class="tab-pane fade in active">
              <p class="search-results-exp explanation"><i>Click on a connection or search for the connections between two brain regions and links to relevant literature will be displayed here.</i>
              </p>
            </div>
            <div id="origin-list" class="tab-pane fade">
              <p class="search-results-exp explanation"><i>Click on a connection or search for the connections between two brain regions and the records from the original connectivity data source will be displayed here.(Only available for pre-loaded datasets.)</i>
              </p>
            </div>
            <div id="sub-con-list" class="tab-pane fade">
              <p class="search-results-exp explanation"><i>Click on a connection or search for the connections between two brain regions and the underlying sub-connections will be displayed here.</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot-section">
      <div class="footer">
        <div class="copyright">
          <p>&copy 2013-2014

          </p>
        </div>
      </div>
      <div id="loading-modal" class="modal hide fade">
        <div class="modal-body"><img src="/static/image/loading.gif">
          <p id="message">Loading...Please wait.</p>
        </div>
      </div>
      <div id="alert-modal" class="modal hide fade">
        <div class="modal-body">
          <p id="message"></p>
          <button data-dismiss="modal" class="btn">Ok</button>
        </div>
      </div>
      <div id="config-modal" class="modal hide fade">
        <div class="modal-body">
          <div id="option-body">
            <h4>Settings</h4>
            <table id="option-table"></table>
          </div>
          <button id="cancel" data-dismiss="modal" class="btn">Cancel</button>
          <button id="apply" class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/library/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/library/d3/d3.v3.min.js"></script>
    <script src="/static/library/d3/box.js"></script>
    <script src="/static/library/amplify.min.js"></script>
    <script src="/static/library/chosen/chosen.jquery.min.js"></script>
    <script src="/static/library/chosen/fuse.js"></script>
    <script src="/static/library/qTip2/jquery.qtip.min.js"></script>
    <script src="/static/javascript/setting/amplifyJS.js"></script>
    <script src="/static/javascript/setting/setting.js"></script>
    <script src="/static/javascript/util/index.js"></script>
    <script src="/static/javascript/util/generic.js"></script>
    <script src="/static/javascript/util/action.js"></script>
    <script src="/static/javascript/user/index.js"></script>
    <script src="/static/javascript/user/model.js"></script>
    <script src="/static/javascript/ui/index.js"></script>
    <script src="/static/javascript/ui/datasetSelector.js"></script>
    <script src="/static/javascript/ui/regionSelector.js"></script>
    <script src="/static/javascript/ui/attrSelector.js"></script>
    <script src="/static/javascript/ui/pathSearch.js"></script>
    <script src="/static/javascript/ui/canvasReset.js"></script>
    <script src="/static/javascript/ui/linkInfo.js"></script>
    <script src="/static/javascript/ui/loadingModal.js"></script>
    <script src="/static/javascript/ui/alertModal.js"></script>
    <script src="/static/javascript/ui/configModal.js"></script>
    <script src="/static/javascript/svg/index.js"></script>
    <script src="/static/javascript/svg/model.js"></script>
    <script src="/static/javascript/svg/circular.js"></script>
    <script src="/static/javascript/svg/force.js"></script>
    <script src="/static/javascript/svg/anatomy.js"></script>
    <script src="/static/javascript/svg/linkAttr.js"></script>
    <script src="/static/javascript/main.js"></script>
  </body>
</html>