<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{"BraiNet"|force_escape}}</title>
    <link rel="stylesheet" href="/static/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/library/chosen/chosen.min.css">
    <link rel="stylesheet" href="/static/library/qTip2/jquery.qtip.min.css">
    <link rel="stylesheet" href="/static/stylesheet/style-ui.css">
    <link rel="stylesheet" href="/static/stylesheet/style-canvas.css">
  </head>
  <body>
    <div class="head-section">
      <div class="navbar">
        <div class="navbar-inner navbar-top main-nav">
          <div class="navbar-content"><a href="#" class="brand">braiNet</a>
            <ul class="nav">
              <li><a href="https://github.com/tacitia/BraiNet/wiki/Quick-Start" target="_blank">How to</a>
              </li>
              <li><a href="/brainet">use braiNet</a>
              </li>
              <li><a href="https://github.com/tacitia/BraiNet" target="_blank">Source code</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/account/register" target="_blank">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section">
      <div id="home" class="content-body">
        <div class="site-highlight">
          <p>BraiNet is an online visual explorer for brain connectivity networks. Using BraiNet, you can visualize public or your own connectivity datasets in the context of public neuroscience resources such as anatomical atlas or PubMed articles and annotate your findings.</p>
        </div>
        <div class="center-content">
          <div class="feature-desc">
            <h3>Visualize your data</h3>
            <p>BraiNet lets you visualize connectivity data as either circular hierarchical networks or node-link graphs. Different visualizations help you think differently.</p><a href>Learn more</a>
          </div>
          <div class="feature-desc">
            <h3>Put your data into context</h3>
            <p>Visualizations in BraiNet are linked to public neuroscience resources including rat brain atlas from Allen Brain Institute and articles indexed in PubMed. This way, those resources are just one click away when you look at your data.</p><a href>Learn more</a>
          </div>
          <div class="feature-desc">
            <h3>Manage your data</h3>
            <p>Have noticed something interesting about your connection or a related publication? You can take notes of your findings immediately using the BraiNet interface.</p><a href>Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>