	  #container { 
	  position: relative;
	  margin: 10;
	  }
	  
	  #svg {
	  position: absolute;
	  left: 0;
	  top: 0;
	  }

	  #img {
	  left: 0;
	  top: 0;
	  }
	  
	  .hover {
	  stroke-width: 20;
	  }

	  #chart {
	  height: 500px;
	  }

	  #documentation {
	  top: 500px;
	  }
	  
	  #input {
	  float:right;
	  }