#login-div {
	width:400px;
	height:auto;
	margin: 200px auto;
	padding: 20px;	
	font-size: 16px;
}

#success-div {
	width:400px;
	height: auto;
	margin: 200px auto;
	padding: 20px;	
	font-size: 18px;
}


