body {
    /*make everything not selectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 13px sans-serif;
}
html,body { height:100%; }

#content {
	width:1280px;
	margin:0px auto;
	position: relative;
	height: 100%;
}

/* Navigation */
#util {
    padding: 20px;
    background-color: rgba(240,245,255,0.9);
	width: 440px;
	height: 100%;
	position: relative;
	float:right;
}

#user {
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    top: 0px;
    right: 0px;
}
#canvas {
	position:relative;
	left: 0px;
	top: 0px;
	width: 800px;
	float:left;
	margin-top: 20px;
}

.tab-content {
	height: 100%;
}
.tab-column-1 {
    height: 30px;
    width: 100px;
}
.tab-column-2 {
    height: 30px;
}

.localCon {
    margin-top: 20px;
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 20px;*/
    /*height: 50%;*/
    /*width: 350px;*/
}

#search-settings {
    padding-bottom:20px;
}

#search-results {
	position: absolute;
	top: 650px;
	width: 800px;
}

.search-results-contents {
    margin:5px;
    height:280px;
    overflow-y: scroll;
}

.conn-level1 {
    /*position: absolute;*/
    /*left: 20px;*/
    /*width: 330px;*/
    border: 1px solid #dddddd;
}

.table-custom {
    /*position: absolute;*/
    /*left: 20px;*/
    /*width: 330px;*/
    border: 1px solid #dddddd;
    max-height: 300px;
    overflow-y: scroll;
}

.selected-cell {
    background:#99FFFF;
}

.nav-tabs-add {
    max-height: 300px;
    overflow-y: scroll;
}

.legend {
    position: absolute;
    top: 320px;
    left: 20px;
    font: 13px sans-serif;
}

.util-section {
	width: 100%;
	padding: 10px;
}

/*#util li {*/
/*float:left;*/
/*display:block;*/
/*background-color: #EEE;*/
/*border: 1px solid #ddd;*/
/*width:100px;*/
/*height:50px;*/
/*}*/


/*#search {*/
/*position: absolute;*/
/*top: 52px;*/
/*left: 0px;*/
/*max-width: 400px;*/
/*background-color: #DDD;*/
/*}*/


/* TEMP */


/*#help {*/
/*font: 11px sans-serif;*/
/*width: 200px;*/
/*position: fixed;*/
/*right: 20px;*/
/*bottom: 20px;*/
/*}*/

#input {
    font: 11px sans-serif;
    width: 900px;
}

#detail {
    border-top: 2px solid #ccc;
    font: 13px sans-serif;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 650px;
}

.explanation.hidden {
    display:none;
}

#login-main {
    width: 400px;
    height: 400px;
    margin: auto;
}

#conn-info {
    height: 50%;
}

#region-info {
    height: 50%;
}

.accordion-content {
    height: 250px;
}

#record-content {
    height: 180px;
}

/* @group Manage Data */

.datasetDisplay {
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

#create {
	margin-bottom: 35px;
}

#bt-createDatasets {
	margin-bottom: 10px;
}

#select {
	margin-bottom: 20px;
}

#datasetControl {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#bt-manageDatasets {
	float: left;
	margin-bottom: 10px;
}

#bt-cloneDatasets {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	display:none;
}

#bt-applyDataset {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
}

#anatomy-map #svg {
	position: absolute;
	left: 20;
	top: 100;
}

#anatomy-map #img {
	left: 0;
	top: 0;
}
	  
#anatomy-map .hover {
	stroke-width: 20;
}


/* @end */


