path.arc {
	cursor: move;
	fill: #fff;
}

.visibleText {
	font: 10px sans-serif;    
}

.hiddenText {
    display:none;
}

.node {
	font: 12px sans-serif;
}

/*blue - no connections*/
.node:hover {
	fill: #1f77b4;
}

/*red*/
.node.target {
	fill: #d62728 !important;
}

/*green*/
.node.source {
	fill: #2ca02c;
}

.node.selected {
    stroke: #b45c1f;
}

.arc {
	font: 12px sans-serif;
}

/*blue - no connections*/
.arc:hover {
	fill: #1f77b4;
}

/*red*/
.arc.target {
	fill: #d62728 !important;
}

/*green*/
.arc.source {
    stroke: blue
	fill: #2ca02c;
}

.arc.selected {
    fill: #b45c1f;
}

.arc.hidden {
    visibility: hidden;
}

.text {
    display: none;
}

.text.target {
    display: block;
}

.text.source {
    display: block;
}

.link {
	stroke: steelblue;
	stroke-opacity: .4;
	fill: none;
}
.link:hover {
	stroke: #b45c1f;
	stroke-opacity: 1;
	stroke-width:2px;
	fill: none;
}
.link.target {
	stroke: #2ca02c;
}
.link.source {
	stroke: #d62728;
}

.link.hidden {
    visibility: hidden;
}

/*
    "Selected" is the class for connections selected by specifying both source and target nodes. It is a bad name but I don't know what'd be a better name yet..
*/
.link.selected {
    stroke: #b45c1f;
}
.link.source, .link.target, .link.selected {
	stroke-opacity: 1;
	stroke-width: 2px;
}
