path.arc {
	cursor: move;
	fill: #fff;
}
.node {
	font: 10px sans-serif;
}

/*blue - no connections*/
.node:hover {
	fill: #1f77b4;
}

/*red*/
.node.target {
	fill: #d62728 !important;
}

/*green*/
.node.source {
	fill: #2ca02c;
}

.text {
    display: none;
}

.text.target {
    display: block;
}

.text.source {
    display: block;
}

.link {
	stroke: steelblue;
	stroke-opacity: .4;
	fill: none;
}
.link:hover {
	stroke: #b45c1f;
	stroke-opacity: 1;
	stroke-width:2px;
	fill: none;
}
.link.target {
	stroke: #2ca02c;
}
.link.source {
	stroke: #d62728;
}

/*
    "Selected" is the class for connections selected by specifying both source and target nodes. It is a bad name but I don't know what'd be a better name yet..
*/
.link.selected {
    stroke: #b45c1f;
}
.link.source, .link.target, .link.selected {
	stroke-opacity: 1;
	stroke-width: 2px;
}
