/*  Node  */

body {
    /*make everything not selectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 13px sans-serif;
}

/* Navigation */

#util {
	padding: 20px;
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	width: 350px;
	height: 100%;
}
.tab-content {
	height: 100%;
}
.tab-column-1 {
    height: 30px;
    width: 100px;
}
.tab-column-2 {
    height: 30px;
}

/*#util li {*/
    /*float:left;*/
    /*display:block;*/
    /*background-color: #EEE;*/
    /*border: 1px solid #ddd;*/
    /*width:100px;*/
    /*height:50px;*/
/*}*/

.hidden {
    display: none;
}

/*#search {*/
    /*position: absolute;*/
    /*top: 52px;*/
    /*left: 0px;*/
    /*max-width: 400px;*/
    /*background-color: #DDD;*/
/*}*/



/*.node {*/
/*fill: #2d527c;*/
/*}*/

/*.node:hover {*/
/*}*/

/*.node.target {*/
/*fill: #d62728;*/
/*}*/

/*.node.source {*/
/*fill: #2ca02c;*/
/*}*/

/*   Arc    */

.arc {
    opacity: 0.15;
    fill: #0D0D0D;
    stroke: #FFF;
}

/*blue - no connections*/
.arc:hover {
    fill: #ccc;
}

/*red*/
.arc.target {
    fill: #d62728;
}

/*green*/
.arc.source {
    fill: #2ca02c !important;
}

.arc.selected-source {
    fill: #25fb3a;
}
.arc.selected-target {
    fill: #fa0615;
}

.arc.selected {
    fill: #b45c1f;
}

/*blue*/
.arc.bi {
    fill: #062db8;
}

.arc.target, .arc.source, .arc.selected {
    opacity: 0.8;
}

.arc.hidden {
    visibility: hidden;
}


/*   Text    */


.text {
    pointer-events: none;
    visibility: hidden;
    fill: #FFF;
}

.text.visible {
    fill: #000;
    visibility: visible;
}

.text.target {
    visibility: visible;
}

.text.source {
    visibility: visible;
}

.text.bi {
    visibility: visible;
}

.text.selected {
    visibility: visible;
}

/* These are for clicked nodes */

.text.selected-target {
    visibility: visible;
}

.text.selected-source {
    visibility: visible;
}

.tooltip {
    visibility: visible;
    pointer-events: none;
    fill: #000;
}
/* tooltip */
.tooltip.hidden {
    visibility: hidden;
}
.tooltip.selected-hidden {
    visibility: hidden;
}
.tooltip.selected-source {
    visibility: hidden;
}
.tooltip.selected-target {
    visibility: hidden;
}

/*  links (connections) */

 .link {
	/*stroke: #AAA;*/
	stroke-opacity: .1;
	fill: none;
    stroke-width: 1.5px;
}

/*.link:hover {*/
/*stroke: #b45c1f;*/
/*stroke-opacity: 1;*/
/*stroke-width:2px;*/
/*fill: hidden;*/
/*}*/

.link.dimmed {
    opacity: 0.1;
}

/*red*/
.link.target {
    /*stroke: #d62728;*/
}
/*green*/
.link.source {
    /*stroke: #2ca02c;*/
}
.link.bi {
    /*stroke: #062db8;*/
}

.link.hidden {
    visibility: hidden;
}

.link.selected {
    /*stroke: #b45c1f;*/
}
.link.source, .link.target, .link.selected, .link.bi {
	stroke-opacity: .9;
	stroke-width: 3px;
}

/* TEMP */


/*#help {*/
    /*font: 11px sans-serif;*/
    /*width: 200px;*/
    /*position: fixed;*/
    /*right: 20px;*/
    /*bottom: 20px;*/
/*}*/

#input {
    font: 11px sans-serif;
    width: 900px;
}

#detail {
    font: 13px sans-serif;
    width: 300px;
    position: fixed;
    left: 20px;
    bottom: 20px;
}
