body {
    /*make everything not selectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 13px sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Navigation */

#util {
    padding: 20px;
    background-color: rgba(240,245,255,0.9);
    position: absolute;
    right: 0px;
    top:45px;
    width: 25%;
    height: 100%;
    /*border-left:thick solid #ccc;
    border-top:thick solid #ccc;*/
    box-sizing: border-box;
}
#canvas {
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    left: 0px;
    top: 45px;
    min-width: 825px;
    width: 75%;
    height: 850px;
    /*border-left:thick solid #ccc;
    border-top:thick solid #ccc;*/
    box-sizing: border-box;
}
#canvas-body {
    width:800px;
    margin: 0px auto;
}
#user {
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
}
.tab-content {
    /*height: 100%;*/
    height:100%;
}
.tab-column-1 {
    height: 30px;
    width: 100px;
}
.tab-column-2 {
    height: 30px;
}

.localCon {
    margin-top: 20px;
    max-height: 200px;
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 20px;*/
    /*height: 50%;*/
    /*width: 350px;*/
}

#search-settings {
    padding-bottom:20px;
}

#search-results {
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 400px;*/
    /*width: 350px;*/
    /*height: 50%;*/
    top: 300px;
}

.search-results-contents {
    margin:5px;
    height:280px;
    overflow-y: scroll;
}

.conn-level1 {
    /*position: absolute;*/
    /*left: 20px;*/
    /*width: 330px;*/
    border: 1px solid #dddddd;
}

.table-custom {
    /*position: absolute;*/
    /*left: 20px;*/
    /*width: 330px;*/
    border: 1px solid #dddddd;
    max-height: 300px;
    overflow-y: scroll;
}

.selected-cell {
    background:#99FFFF;
}

.nav-tabs-add {
    max-height: 300px;
    overflow-y: scroll;
}

.legend {
    position: absolute;
    top: 320px;
    left: 20px;
    font: 13px sans-serif;
}

/*#util li {*/
/*float:left;*/
/*display:block;*/
/*background-color: #EEE;*/
/*border: 1px solid #ddd;*/
/*width:100px;*/
/*height:50px;*/
/*}*/


/*#search {*/
/*position: absolute;*/
/*top: 52px;*/
/*left: 0px;*/
/*max-width: 400px;*/
/*background-color: #DDD;*/
/*}*/


/* TEMP */


/*#help {*/
/*font: 11px sans-serif;*/
/*width: 200px;*/
/*position: fixed;*/
/*right: 20px;*/
/*bottom: 20px;*/
/*}*/

#input {
    font: 11px sans-serif;
    width: 900px;
}

#detail {
    border-top: 2px solid #ccc;
    font: 13px sans-serif;
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 650px;
}

.explanation.hidden {
    display:none;
}

#login-main {
    width: 400px;
    height: 400px;
    margin: auto;
}

#conn-info {
    height: 50%;
}

#region-info {
    height: 50%;
}

.accordion-content {
    height: 250px;
}

#record-content {
    height: 180px;
}

.datasetDisplay {
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

#datasetControl {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


